:root {
  --bg-color: #007bdc;
  --f-color: #FFEB3B;
  --f-shadow: #FF5722;
  --f-cta-shadow: #4caf50;
}

html, body {
    height: 100%;
}

html {
  font-size: 8px;
}

body {
  margin: 0;

  background-color: var(--bg-color);
  color: var(--f-color);
  font-family: 'Bangers', sans-serif;
}

h1 {
  margin-bottom: 1.5em;
  font-size: 4em;
}

.goose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  /* reset styles */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.goose-btn {
  padding: 2rem 5rem;
  margin-top: 7vh;
  margin-bottom: 5vh;

  font-family: 'Bangers', cursive;
  font-size: 8rem;
  cursor: pointer;
}

.goose-permission {
  color: var(--f-color);
  text-shadow: 0.5rem 0.5rem 0 var(--f-cta-shadow);
}

.goose-shake {
  color: var(--f-color);
  text-shadow: 0.5rem 0.5rem 0 var(--f-shadow);

  display: none;
}

.goose-pic {
  width: 73vw;
  height: auto;
  max-width: 500px;
}